.App {
  background-color: #293d5a;
  color: #fff;
}

.mono-font {
  font-family: Roboto mono, Courier;
}

.secondary-blue {
  color: #3fdfe9;
}

#top-nav-bar {
  padding-top: 20px;
  padding-right: 20px;
}
#top-nav-bar ul {
  margin: 0;
  padding: 0;
  right: 50px;
  list-style-type: none;
  float: right;
}

#top-nav-bar li {
  display: inline-block;
  padding: 12.5px;
  font-size: 16px;
}

#top-nav-bar a {
  text-decoration: none;
  color: #fff;
}

#top-nav-bar a:hover {
  color: #3fdfe9;
}

#about-me {
  margin-top: 100px;
  width: 65%;
  margin: 100px auto;
  display: flex;
  flex-wrap: nowrap;
}

#about-me h1 {
  font-size: 50px;
}

#about-me .secondary-blue {
  font-size: 25px;
}

#about-me p {
  font-size: 20px;
}

#about-me img {
  float: right;
}
