h2 {
  font-size: 30px;
}

.App {
  background-color: #293d5a;
  color: #fff;
}

.mono-font {
  font-family: Roboto mono, Courier;
}

.secondary-blue {
  color: #3fdfe9;
}

.content-box {
  margin-top: 100px;
  width: 65%;
  margin: 100px auto;
}

#top-nav-bar {
  padding-top: 20px;
  padding-right: 20px;
}
#top-nav-bar ul {
  margin: 0;
  padding: 0;
  right: 50px;
  list-style-type: none;
  float: right;
}

#top-nav-bar li {
  display: inline-block;
  padding: 12.5px;
  font-size: 16px;
}

#top-nav-bar a {
  text-decoration: none;
  color: #fff;
}

#top-nav-bar a:hover {
  color: #3fdfe9;
}

#about-me {
  display: flex;
  flex-wrap: nowrap;
}

#about-me h1 {
  font-size: 50px;
}

#about-me .secondary-blue {
  font-size: 25px;
}

#about-me p {
  font-size: 20px;
}

#about-me img {
  float: right;
}

#icon-set-parent {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

/* Each icon-set acts as a column */
.icon-set {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon-set h3 {
  color: #3fdfe9;
  font-family: Roboto mono, 'Courier New';
  font-size: 25px;
}

.icon-set ul {
  padding: 0;
}
.icon-set li {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
}

/* Align the icons and the text under them */
.icon-set h3 {
  vertical-align: top;
  /* width: 150px;
  height: 150px; */
}

#copyright {
  text-align: center;
}
