h2 {
  font-size: 30px;
}

.App {
  background-color: #293d5a;
  color: #fff;
}

.mono-font {
  font-family: Roboto mono, Courier;
}

.secondary-blue {
  color: #3fdfe9;
}

.content-box {
  margin-top: 100px;
  width: 65%;
  margin: 100px auto;
}

#top-nav-bar {
  padding-top: 20px;
  padding-right: 20px;
}
#top-nav-bar ul {
  margin: 0;
  padding: 0;
  right: 50px;
  list-style-type: none;
  float: right;
}

#top-nav-bar li {
  display: inline-block;
  padding: 12.5px;
  font-size: 16px;
}

#top-nav-bar a {
  text-decoration: none;
  color: #fff;
}

#top-nav-bar a:hover {
  color: #3fdfe9;
}

#about-me {
  display: flex;
  flex-wrap: nowrap;
}

#about-me h1 {
  font-size: 50px;
}

#about-me .secondary-blue {
  font-size: 25px;
}

#about-me p {
  font-size: 20px;
}

#about-me img {
  float: right;
}

#icon-set-parent {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

/* Each icon-set acts as a column */
.icon-set {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon-set h3 {
  color: #3fdfe9;
  font-family: Roboto mono, 'Courier New';
  font-size: 25px;
}

.icon-set ul {
  padding: 0;
}
.icon-set li {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
}

/* Align the icons and the text under them */
.icon-set h3 {
  vertical-align: top;
  /* width: 150px;
  height: 150px; */
}

#timeline {
  text-align: center;
}

#copyright {
  text-align: center;
}
/*
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} */

.fade-in-section-left {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section-right {
  opacity: 0;
  transform: translateX(-20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section-left.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#timeline-container-outer::after {
  content: '';
  height: 100px;
  /* The border is set to background color, as the container will still cause the purple line to appear */
  border-left: 5px dashed #293d5a;
}
